.git/
.env
.env.*
**/__pycache__/
**/*.py[cod]
**/venv/
**/.venv/
webcrawler_saas/db.sqlite3
webcrawler_saas/media/
webcrawler_saas/staticfiles/
webcrawler_saas/corecrawler/.scrapy/
docs/
nginx/
*.log
