# Python
__pycache__/
*.py[cod]
venv/
.venv/

# Django
*.sqlite3
webcrawler_saas/media/
webcrawler_saas/staticfiles/
*.log

# Scrapy
.scrapy/

# Environnement
.env
.env.*
!.env.example
*.override.yml

# OS
.DS_Store
Thumbs.db
